In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTING DATA
path_data = "input\\2023-10.csv"

# SET SEED FOR REPRODUCIBILITY
np.random.seed(0)

In [3]:
# DATA VISUALIZATION
data = pd.read_csv(path_data)
data.head()

,Data,Valor,Identificador,Descrição
0,04/10/2023,60.00,651d8d1e-4d03-404b-826b-c372aaa0b10f,Transferência Recebida - Thaissa Ferreira Bran...
1,06/10/2023,-406.36,65200dda-4332-4ed1-9ad6-784040e98030,Transferência enviada pelo Pix - UNIVERSIDADE ...
2,06/10/2023,700.00,6520884f-05bd-482d-9e17-cf68d8522fce,Transferência recebida pelo Pix - MARCELO PELA...
3,10/10/2023,-783.07,652544d7-ca24-4af5-8c68-bee9a71e31ed,Transferência enviada pelo Pix - LEROY MERLIN ...
4,16/10/2023,-300.00,652d2945-ff9f-40b2-ab1d-9137127f9642,Transferência enviada pelo Pix - GABRIEL RODRI...

In [4]:
# KNOWING THE DATA
missing_values_count = data.isnull().sum()
missing_values_count

Data             0
Valor            0
Identificador    0
Descrição        0
dtype: int64

In [5]:
total_cells = np.prod(data.shape)
total_missing = missing_values_count.sum()
missing_percent = (total_missing/total_cells) * 100
print(f"Missing: {missing_percent}%")

Missing: 0.0%